html {
  min-height: 100vh;
}

body {
  background: linear-gradient(to bottom right, #eaf4f4, #a4c3b2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  max-width: 300px;
  background-color: #6b9080;
}

.display {
  padding: 5px;
  font-size: 3rem;
  text-align: right;
}

.functions {
  display: flex;
  flex-wrap: wrap;
}

button {
  flex: 0 1 25%;
}

.large {
  flex: 0 1 50%;
}
